@font-face {
    font-family: "vazir light";
    src: url("assets/fonts/ttf/Vazirmatn-Light.ttf") format(truetype),
    url(assets/fonts/woff2/Vazirmatn-Light.woff2) format(woff2);
}

*{
    box-sizing: border-box;
    font-family: "vazir light";

}
body {
    background-color: #f5efef;
}
header {
    border-bottom: 1px solid #b8b8b8;
}
.logo-img {
    width: 12rem;
    height: 5rem;
}
.head-button-1 {
    background-color: #359c8d;
    color: #fff;
    border: 2px solid #359c8d;
    border-radius: 6px;
    padding: 6px;
}
.head-button-2 {
    background-color: #fff;
    color: #359c8d;
    border: 2px solid #359c8d;
    border-radius: 6px;
    padding: 6px;
}
.head-button-2:hover {
    background-color: #359c8d;
    color: #fff;
}
.serch-box {
    padding: 2rem;
    width: 100%;
    background-image: linear-gradient(to right, #358d80, #3fecd2 );  
}
.serch-button {
    background-color: #96e0d5;
    border: none;
    border-radius: 6px;

}
.advance-serch-btn {
    padding: 0.5rem;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #44f8dd;
}
.advance-serch-btn:hover {
    background-color: #6cfae5;
}
.bg-light-gray {
    background-color: #f1efef;
}
.bg-light-gray-2 {
    background-color: #f5efef;
}
.border-none {
    border: none !important;
}
.border-main {
    border: 15px solid #fff !important;
}
.img-box {
    height: 12rem;
    width: 100%;
    background-color: #e7e7e7;
    
}
.scale-down {
    object-fit:scale-down;
    max-width: 100%;
}
.more-information {
    display:block;
    text-align: end;
    text-decoration: none;
    margin-top: 3rem;
    color: #358d80;
    font-size: 17px;
}
.more-information:hover {
    color: #56b8a9;
}
.numbers-section {
    background-color: #318f81;
    padding: 4rem;

}
.border2 {
    border: 2px solid white;
    border-radius: 8px;
}
.text-color {
    color: #359c8d;
}






@media (max-width: 992px) {
    .report {
        height: 10rem;
    }
    .report-img {
        height: 100%;
    }
}
@media (max-width: 576px) {
    .wraping {
        flex-wrap: wrap;
    }
}
